$header-height: 3.5rem;
$nav-width: 219px;

$first-color: #061cdf;
$first-color-light: #f4f0fa;
$title-color: #19181b;
$text-color: #424242;
$text-color-light: #a5a1aa;
$body-color: #f9f6fd;
$container-color: #ffffff;

$body-font: "Poppins", sans-serif;
$normal-font-size: 0.938rem;
$small-font-size: 0.75rem;
$smaller-font-size: 0.75rem;

$font-medium: 500;
$font-semi-bold: 600;

$z-fixed: 100;
